<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;

class Create{{ Name }}Table extends Migration {

	/**
	 * Run the migrations.
	 *
	 * @return void
	 */
	public function up()
	{
		Schema::create('{{tableName}}', function(Blueprint $table) {
			$table->increments('id');
			{{#fields}}
			$table->{{ sqlType }}('{{ _name }}');
			{{/fields}}
			$table->timestamps();
		});
	}

	/**
	 * Reverse the migrations.
	 *
	 * @return void
	 */
	public function down()
	{
		Schema::drop('{{tableName}}');
	}

}
