@extends('layouts.layout')

@section('main')
 
{{! We don't want to mess with Blade }}
{{=((( )))=}}

<h1>All ((( Names )))</h1>

<p>
	<a href="((( names )))/create" class="btn btn-success"><i class="glyphicon-plus"></i> 
	Add new ((( name )))</a>
</p>

@if ( $((( names )))->count() )
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
			(((# headings )))
				<th>
					((( heading )))
				</th>
			(((/ headings )))
				<th colspan="2">
					Actions
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach ( $((( names ))) as $((( name ))) )
				<tr>
				(((# fields )))
					<td>
						((( $((( name )))->_name )))
					</td>
				(((/ fields )))
					<td>
						{{ link_to_route('((( names ))).edit', 'Edit', array($((( name )))->id), array('class' => 'btn btn-info')) }}
					</td>
					<td>
						{{ Form::open(array('method' => 'DELETE', 'route' => array('((( names ))).destroy', $((( name )))->id))) }}
                            {{ Form::submit('Delete', array('class' => 'btn btn-danger')) }}
                        {{ Form::close() }}
					</td>
				</tr>
			@endforeach
		</tbody>
	</table>
@else
	There are no ((( names )))
@endif

@stop
