@extends('layouts.naked')

@section('main')
 
{{! We don't want to mess with Blade }}
{{=((( )))=}}

<h1>All ((( NamesLiterate )))</h1>

<p>
	<a href="((( names )))/create">Add new ((( nameLiterate )))</a>
</p>

@if ( $((( names )))->count() )
	<table>
		<thead>
			<tr>
			(((# headings )))
			(((^ hide )))
				<th>
					((( heading )))
				</th>
			(((/ hide )))
			(((/ headings )))
				<th colspan="2">
					Actions
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach ( $((( names ))) as $((( name ))) )
				<tr>
			(((# fields )))
				(((^ hide )))
					(((# realField )))
					<td>
						{{ implode(((({ realField }))), ", ") }}
					</td>
					(((/ realField )))
					(((^ realField )))
					<td>
						{{ $((( name )))->(((_name))) }}
					</td>
					(((/ realField )))
				(((/ hide )))
			(((/ fields )))
					<td>
						{{ link_to_route('((( names ))).edit', 'Edit', array($((( name )))->id), array('class' => '')) }}
					</td>
					<td>
						{{ Form::open(array('method' => 'DELETE', 'route' => array('((( names ))).destroy', $((( name )))->id))) }}
                            {{ Form::submit('Delete', array('class' => '')) }}
                        {{ Form::close() }}
					</td>
				</tr>
			@endforeach
		</tbody>
	</table>
@else
	There are no ((( namesLiterate )))
@endif

@stop
